* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  height: 100vh;
  display: flex;
  background: radial-gradient(rgb(157, 0, 79), rgb(6, 36, 118)); 
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #e4f00c;
  text-align: center;
}

/* .container {
  padding: 15px;
  margin: 20px;
  color: #f7c110;
} */

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin: 10px;
 }

.game-info {
  font-family: 'Press Start 2P', cursive;
  color: rgb(227, 230, 211);
  font-size: 1.2rem;
  text-align: center;
}

.game {
  width: 840px;
  height: 690px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px; 
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 7px;
  position: relative;
  transform: scale(1); 
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.border-change {
  border-color: hotpink;
  border-style: double;
  background-color: hotpink;
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #e50b0b,
  inset 0 0 1.5vw  0.4vw #e50b0b,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
  /* opacity: 75%; */
}

.front-face,
.back-face {
  width: 90%;
  height: 90%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 12px;
  border-width: 7px;
  border-style: solid;
  background-color: rgb(64, 54, 76);
  border-color: rgb(211, 211, 225);
  backface-visibility: hidden; 
}

.front-face {
    transform: rotateY(180deg);
}

